<p>Add a new movie:</p>

<form action="/movies" method="post">
  <label for="name">Movie Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add movie</button>
</form>
