<h1>Add a Studio</h1>

<form action="/studios" method="post">
  <label for="name">Studio Name:</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Studio</button>
</form>
